
.desktopSign {
  display: none; 
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  background: #222222ac;
  z-index: 1025;
}

.desktopSign.is-visible {
  display: flex;
}


.click-trigger {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}


.sign {
  margin-top: 12vh;
  background-color: #e1e1e1;
  width: 65%;
  max-width: 70em;
  padding: 1em;
  border-radius: 10px;
  height: fit-content;
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.sign a{
    color: #FF9812;
    font-weight: 900;
}

.sign b{
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.support-section{

}

.bitcoin-address{
    margin-top: 0px;
        /* margin-top: -3em; */
    background-color: #ebebeb8f;
    padding: 6px;
    border-radius: 3px;
      font-size: min(0.9vw, 0.9em);
       cursor: pointer;
         transition: background-color 0.7s ease, transform 0.8s ease;
}

.bitcoin-address.copied{
    /* background-color: #87ff9b; */
        background-color: #444444;
        color:#fff;
    transform: scale(1.015);
    font-weight: bold;
}



/* 
------------bitcoin adress------------ */
  











    @media screen and (max-width: 768px) {



.sign {
  margin-top: 12vh;
  background-color: #e1e1e1;
  width: 77%;
  padding: 1em;
  border-radius: 10px;
  height: fit-content;
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}


.bitcoin-address{
    margin-top: 0px;
        margin-top: -0.8em;
    background-color: #ebebeb8f;
    padding: 6px;
    border-radius: 3px;
      font-size: min(1.8vw, 1.8em);
}


  }









  @media screen and (max-width: 600px){

  .bitcoin-address{
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-size: clamp(0.8rem, 3.5vw, 1rem);

    word-break: break-all;
  }

}