/* ------------------------tooltip info and flag--------------------------- */

/* #layer-info-tooltip{
  position: fixed;
  left: 10px;
  top: 10px;
  width: 250px;
  background: rgba(255,255,255,0.95);
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  display: none;
  z-index: 9999;
  font-size: 14px;
} */

#layer-info-tooltip{
    font-family: "Averia Serif Libre", serif;
  position: fixed;
  left: 10px;
  top: 10px;
  width:fit-content;
  min-width: 27em;
  max-width: 35em;
  /* height: fit-content; */
  max-height: 80vh;

  background: rgba(255, 251, 210, 0.95);
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 8px;
  display: none;
  z-index: 9999;
  font-size: 14px;
}

#layer-info-tooltip b{
  font-size: min(1.5vw, 1.5em);
  font-family: "Macondo", cursive;
}

#layer-info-tooltip p{
  display:inline;
  font-size: min(1vw, 1em);
}

#layer-info-tooltip text{
  display:inline;
  font-size: min(1.1vw, 1.1em);
  font-family: "Averia Serif Libre", serif;
  font-weight: 1000;
  font-style: normal;
}


.flagContainer{
  margin-top: 6px;
  margin-bottom: 8px;
  width: 8em;
  /* background-color: #2e7d32; */
  width: fit-content;
  height: 5em;
  border-radius: 3px;
}


.flagContainer img{
  width: 100%;
  height: 100%;
    border-radius: 5px;
  object-fit:contain;
}




/* minimal-------------- */



#layer-info-tooltipMinimal{
    font-family: "Averia Serif Libre", serif;
  position: fixed;
  left: 10px;
  top: 10px;
  width:fit-content;
  /* min-width: 27em; */
  max-width:fit-content;
  /* height: fit-content; */
  max-height: 80vh;

  background: rgba(255, 251, 210, 0.95);
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 8px;
  display: none;
  z-index: 9999;
  font-size: 14px;
}

#layer-info-tooltipMinimal b{
  font-size: min(1.5vw, 1.5em);
  font-family: "Macondo", cursive;
}

.flagContainerMinimal{
  position: relative;
  margin-top: 6px;
  margin-bottom: 8px;
  /* width: 6em; */
  left: 0px;
  /* background-color: #2e7d32; */
  width:fit-content;
  height: 4em;
  border-radius: 4px;
}


.flagContainerMinimal img{
  width: 100%;
  height: 100%;
    border-radius: 5px;
  object-fit:contain;
}




/* --///////////RESPONSIVE MOBILE DESIGN///////////-- */ 



  @media screen and (max-width: 768px) {




#layer-info-tooltip {
    font-family: "Averia Serif Libre", serif;
    position: fixed;
    
    top: auto;
    right: auto;

    left: 50%;
    transform: translateX(-50%); 

    bottom: 3px; 

    width: 95vw;
    max-width: 400px;
    /* max-height: 30vh; */

    background: rgba(255, 251, 210, 0.95);
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 8px;
    display: none; 
    z-index: 9999;
    font-size: 14px;
    
    box-sizing: border-box; 
}


#layer-info-tooltip b{
  font-size: min(3.7vw, 3.7em);
}

#layer-info-tooltip p{
  display:inline;
  font-size: min(2.6vw, 2.6em);
}

#layer-info-tooltip text{
  display:inline;
  font-size: min(2.6vw, 2.6em);
  font-family: "Averia Serif Libre", serif;
  font-weight: 1000;
  font-style: normal;
}


.flagContainer{
  margin-top: 6px;
  margin-bottom: 8px;
  width: 8em;
  /* background-color: #2e7d32; */
  width: fit-content;
  height: 5em;
  border-radius: 3px;
}



@supports (-webkit-touch-callout: none) {
  .flagContainer{
  display:block;
  clear: both;
}
.flagContainer img{
  height: 100%;
  width: auto;
  display:block;
}


}

/* minimal-------------- */



#layer-info-tooltipMinimal {
    font-family: "Averia Serif Libre", serif;
    position: fixed;
    
    top: auto;
    right: auto;

    left: 50%;
    transform: translateX(-50%); 

    bottom: 3px; 

    width: 95vw;
    max-width: 400px;
    max-height: 30vh;

    background: rgba(255, 251, 210, 0.95);
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 8px;
    display: none; 
    z-index: 9999;
    font-size: 14px;
    
    box-sizing: border-box; 
}



#layer-info-tooltipMinimal b{
  font-size: min(3.5vw, 3.5em);
  font-family: "Macondo", cursive;
}

.flagContainerMinimal{
  margin-top: 6px;
  margin-bottom: 8px;
  position: relative;
  left: 0px;
  width:fit-content;
  height: 4em;
  border-radius: 4px;
}



.flagContainerMinimal img{
  width: 100%;
  height: 100%;
    border-radius: 5px;
      /* left: 0px; */
  object-fit:contain;
}


@supports (-webkit-touch-callout: none) {
  .flagContainerMinimal{
  display:block;
  clear: both;
}
.flagContainerMinimal img{
  height: 100%;
  width: auto;
  display:block;
}


}




  }