  html,
  body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    height: 100%;    
    height: 100dvh;
    background-color: #fff;
  }

  .content {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
    position: relative;
  }


    #map {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    /* height: -webkit-fill-available;
    width: -webkit-fill-available; */
  }
/* Esto evita que el móvil intente hacer scroll cuando tocas una de tus capas */
.leaflet-interactive {
    touch-action: none !important;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}





/* --------contribute text----------- */


.contributeContainer{
  font-family: "Averia Serif Libre", serif;
  margin-top: 1.2em;
  color: #333333;
  font-size: min(0.88vw, 0.88em);
  cursor: default;
  height: fit-content;
}

.contributeContainer p{
  font-family: "Averia Serif Libre", serif;
  font-style: italic;
    height: fit-content;

}

.contributeContainer p a{
  text-decoration: none;
}

/* .mobileSign{
display: none;
} */



  @media screen and (max-width: 768px) {
/* 
.mobileSign{
  display: flex;
  justify-content:center ;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  background: #222222ac;
  z-index: 1001;
}

.sign{
  margin-top: 12vh;
  background-color: #e1e1e1;
  width: 65%;
  padding: 1em;
  border-radius: 10px;
  height: fit-content;
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.sign b{
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}  */


.contributeContainer{
  margin-top: 1.2em;
  font-size: min(2.5vw, 2.5em);
}

/* Ocultar el control de zoom en pantallas menores a 768px (móviles/tablets) */
@media (max-width: 768px) {
  .leaflet-control-zoom {
    display: none !important;
  }
}

}